%include odroid-base-ks.cfg

# System services
services --disabled="tuned" --enabled="NetworkManager,rootfs-resize,sshd"
# System bootloader configuration
bootloader --append="quiet console=tty1 console=ttySAC1,115200 mem=2047M hdtv_type=hdmi hdtv_format=720p60hz" --location=none

%post --logfile /var/log/anaconda/post-install.log
#!/bin/bash

echo "Attempting to fuse boot blob..."; (set -e
  ROOT_PART=`mount | grep "on / " | awk '{ print $1 }'`
  if echo $ROOT_PART | grep -q -e ".*p[0-9]$"; then
    echo $ROOT_PART | grep -q ".*p[0-9]$"
    DEVICE_PATH=`echo $ROOT_PART | sed 's/p[0-9]$//'`
  else
    echo $ROOT_PART | grep -q ".*[0-9]$"
    DEVICE_PATH=`echo $ROOT_PART | sed 's/[0-9]$//'`
  fi
  odroid-u-sd-fuser $DEVICE_PATH
)

%end

%packages
kernel-odroid-u
odroid-u-base
odroid-u-sd-fuser
odroid-u-uboot

%end

